.banner{
  background-color: black;
  background-image: url(../../../assets/HD-wallpaper-laptop-keyboard-backlight-dark.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner-title{
  color: white;
}
